{% extends '../base.html' %}
{% load static %}

{% block title %}Nosotros{% endblock %}

{% block content %}
<div class="container-prod-main">
    <br>
    <div class="container-nosotros-main">
      <ul>
        <li>
          <img src="{% static 'images/LogosRedes/LogoFigurart.png' %}" alt="Logo" style="width: 100px;" style="height: 10px;">
        </li>
        <li></li>
        <p style="color: white;" style="background-color: black;"> Felipe Fuentes</p>
        </li>
      </ul>
    </div>
    <br><br>
    <div class="container-nosotros">
      <div class="container-nosotros-historia" style="font-size: 90%;">
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi iusto ut vel error commodi explicabo minus
          qui, velit et fugit repudiandae recusandae quas dolor? Ducimus, natus a? Assumenda, at ab?
          At iure maiores eum non illum, accusantium consequuntur dolorem? Repellendus, enim repudiandae! At deleniti
          nam perferendis iusto reiciendis inventore voluptate cum labore. Reprehenderit quo libero itaque repudiandae
          non tenetur! Fugiat.
          Modi quidem id laborum sapiente atque, fuga obcaecati laudantium molestias, harum consequuntur repellat
          tenetur ipsum ex! Suscipit tenetur odio ullam. Dolorum vel quos soluta, ea quam quas nesciunt? Nostrum,
          voluptates!
          Veritatis rerum dolore, adipisci doloremque voluptate nobis voluptatum maxime obcaecati quo facilis tenetur
          consequuntur nam tempora repudiandae fuga quia ad quis ut quibusdam iure, fugiat et ullam optio beatae?
          Veritatis!
          Illum nam eligendi molestiae, similique nesciunt ex iure deleniti corporis culpa voluptate officia natus
          nostrum praesentium aliquid dolorem aliquam quod dolor molestias repellat officiis fugit modi amet blanditiis
          sed? Accusamus.
          Harum aperiam unde distinctio consectetur dolores eum beatae perferendis, repellendus ducimus quae natus
          doloremque odit accusamus tenetur, incidunt ab assumenda ut eligendi magnam inventore voluptatem. Deleniti nam
          reiciendis vel asperiores?
          Neque vel nobis ratione similique itaque molestiae saepe doloremque. Necessitatibus in dolor, ipsum iure nisi
          atque recusandae porro quidem, voluptatum esse praesentium quos nam. Quo veritatis ipsum debitis perferendis
          distinctio?
          Omnis ea, ipsa obcaecati consectetur similique voluptates ipsum eveniet perferendis laudantium eos aperiam
          enim dignissimos magnam, dicta repellendus amet numquam? Laudantium repellat inventore accusantium magnam quos
          ipsum veritatis facere commodi.
          Illum sapiente molestias error vero unde adipisci ratione? Sed vitae eaque explicabo rem autem tempora,
          laudantium molestiae eum provident nihil praesentium natus quos voluptas sunt magni impedit quisquam optio
          ducimus.
          Sed atque velit ullam itaque quidem provident facere blanditiis soluta explicabo asperiores id fugiat eaque
          veniam aspernatur odio mollitia recusandae, delectus numquam labore nobis distinctio veritatis reprehenderit
          exercitationem. Reprehenderit, aspernatur!
        </p>
      </div>
    </div>
    <br><br><br>
  </div>

{% endblock %}