{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>

    <!-- Titulo -->
    <title>FiguArt - {% block title %} Title {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <!-- Estilos -->
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    {% block head %}
    {% endblock %}

</head>
<body style="margin: auto;">
    
    <!-- NAVBAR -->
   <nav class="header-nav">
    <div class="header-nav_main">
      <div class="header-container-primero">
        <a href="{% url 'home' %}"><img src="{% static 'images/LogosRedes/LogoFigurart.png' %}" alt="" width="100" height="50"></a>
      </div>
      <div class="header-container-centro">
        <ul class="lista">

          <li>
            <a class="item-navbar" href="{% url 'home' %}">Inicio</a>
          </li>
          <li>
            <a class="item-navbar" href="{% url 'nosotros' %}">Nosotros</a>
          </li>
          {% if user.is_authenticated %}
          {% if user.is_superuser %}
          <li>
            <a class="item-navbar" href="{% url 'Registro:listar_figuras.html' %}">Administrar Figuras</a>
          </li>
          <li>
            <a class="item-navbar" href="{% url 'listar_users.html' %}">Ver Usuarios</a>
          </li>
        </ul>
          {% endif %}
          {% endif %}


      </div>
        
        <div class="header-container-segundo">
        <ul class="lista">
          {% if user.is_authenticated %}
      <li style="margin: auto;">
        <a class="item-navbar">@{{ user.get_username }} </a>
      </li>
          
      <li style="margin: auto;">
        <a class="item-navbar" href="{% url 'logout' %}">Cerrar Sesion</a>
      </li>
    {% else %}
    <li style="margin: auto;">
        <a class="item-navbar" href="{% url 'login' %}">Iniciar Sesion</a>
      </li>
    {% endif %}
    <li >
          <a class="item-navbar" href="Carrito.html"><img src="{% static 'images/LogosRedes/CarritoCompra.png' %}"
            alt="" width="30" height="30"></a>
          </li>
          </ul>
        </div>
      </div>
      {% block navbar %}
  </nav>
  {% endblock %}

    {% block header %}
    <!-- Carrusel -->
    {% endblock %}

    {% block content %}   
    {% endblock %}

    
    <!-- Pie de página -->
    <footer class="text-center text-white" style="background-color: black">
      <div class="container-footer">
        <section class="mt-5">
          <div class="row text-center d-flex justify-content-center pt-5">
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#top" class="text-white">Subir</a>
              </h6>
            </div>
          </div>
        </section>
        <hr class="my-5" />
        <div class="container-footer-siguenos">
          <h7 class="text-uppercase font-weight-bold"> Siguenos </h7>
          <ul>
            <li class="container-footer-redes">
                <a href="https://www.instagram.com/" target="_blank">
                    <img class="container-footer-redes" src="{% static 'images/LogosRedes/Instagramlogo.png' %}" alt="">
                </a>
            </li>
            <li class="container-footer-redes">
                <a href="https://www.facebook.com" target="_black">
                    <img class="container-footer-redes" src="{% static 'images/LogosRedes/LogoFacebook.png' %}"  alt="">
                </a>  
            </li>
            <li class="container-footer-redes">
                <a href="https://twitter.com/?lang=es" target="_black">
                    <img class="container-footer-redes" src="{% static 'images/LogosRedes/X.png' %}"  alt="">
                </a>  
            </li>
        </ul>
          </div>
        <section class="mb-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <p>
                Por tu seguridad, recuerda revisar siempre en tu navegador que el sitio que visitas sea la versión oficial. 
                La dirección https://FigurArt.cl es la única del sitio oficial de FigurArt.
              </p>
            </div>
          </div>
        © 2024 Copyright:
        <a class="text-white" href="index.html"
           >Figurart.cl</a>
           <br><br>
  
           <div class="row text-center d-flex justify-content-center pt-5">
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="RIckApi.html" class="text-white">RickAndMorty Api</a>
              </h6>
            </div>
          </div>
        
          <div class="row text-center d-flex justify-content-center pt-5">
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="Concurso.html" class="text-white">CONCURSO</a>
              </h6>
            </div>
          </div>
          {% block footer %} 
      </div>
    </footer>
    {% endblock %}   


    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src={% static 'js/Modal.js' %}></script>
    {% block extrajs %}
    {% endblock %}

</body>
</html>